@{
    ViewData["Title"] = "Welcome";
}
<div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a nhsuk-action-link asp-controller="Form">Form Elements</a>
    <a nhsuk-action-link asp-controller="Navigation">Navigation</a>
    <a nhsuk-action-link asp-action="SvgIcons">SVG Icons</a>
</div>